{
  "name": "hiivmind-corpus-{{project_name}}",
  "description": "{{description}}",
  "version": "1.0.0",
  "author": {
    "name": "{{author_name}}"
  },
  "repository": "https://github.com/hiivmind/hiivmind-corpus-{{project_name}}",
  "keywords": ["corpus", "documentation", {{keywords_json}}]
}
